html,
body {
    height: 100%;
}

body {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    background-color: #f5f5f5;
}

nav {
    display: flex;
    display: -ms-flexbox;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-between;
}

footer {
    display: flex;
    display: -ms-flexbox;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
}

.form-signin {
    width: 100%;
    max-width: 700px;
    padding: 15px;
    margin: auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

nav a { color: #000; }
nav a:hover { color: #999; }
footer a { color: #000; }
footer a:hover { color: #999; }

a > i { font-size: 1.5rem; }

label { margin-top: 10px; }

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
    .form-signin {
        max-width: 100%;
    }
}